html, body {
    height: 100%
}
.center {
    display: grid;
    height: 100%;
    align-items: center;
    justify-items: center
}
.table {
    display: table;
    border-spacing: 0.2rem 0.2rem
}
.tr {
    display: table-row
}
.td {
    display: table-cell
}
table {
    white-space: nowrap
}
table, td {
    border: 1px solid black
}
input {
    min-width: 5rem;
    width: 100%;
    box-sizing: border-box
}
select {
    width: 100%
}
a {
    text-decoration: none
}
.highlighted {
    background-color: yellow
}